<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<nav class="footerbackground navbar navbar-static-bottom" style="position: fixed;right: 0;bottom: 0;left: 0;padding: 0;background-color: rgba(239,239,239, 0.8);text-align: center;margin:0">
    <div class="row">
        <div class="Footer">
               <ul class="Content" style="color:black">
                   Created by Łukasz Ruszkiewicz, 2017, version 1.0.3
               </ul>
        </div>
    </div>
</nav>
</body>
</html>