<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log into Cookbook</title>
</head>
<body style="background-image: url(/static/food.jpg);">
{% include "navbar.html" %}
{% include "open_back.html" %}
<form action="login" method="post">
    {% csrf_token %}
    <h2><center>Logowanie</center></h2>
    {{ form.as_p }}
    <button type="submit" class="btn btn-success" value="Submit"><font color="lightblue">Zaloguj się</font></button>
    <br>
        <!--<input type="submit" value="Wyślij" style="color:red;">-->
    </form>
{% include "close_back.html" %}
{% include "footer.html" %}
</body>
</html>